.gallery {
	padding: 100px 0;
}

.gallery__content {
	text-align: center;
}

.gallery__media {
	display: grid;
	grid-auto-rows: 3fr;
	grid-template-columns: repeat(12, 1fr);
	margin-bottom: 50px;
	gap: 20px;
}

.gallery__pic {
	position: relative;
}

.gallery__pic:nth-of-type(1n) {
	grid-column: 6 span;
}

.gallery__pic:nth-of-type(2n) {
	grid-column: 3 span;
}

.gallery__pic:nth-of-type(3n) {
	grid-column: 3 span;
}

.gallery__pic:nth-of-type(4n) {
	grid-column: 3 span;
}

.gallery__pic:nth-of-type(5n) {
	grid-column: 6 span;
}

.gallery__pic:nth-of-type(6n) {
	grid-column: 3 span;
}

.gallery__pic-overlay {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	padding: 0;
	background-color: rgba(26, 62, 62, 0);
	opacity: 0;
	transition: all 0.3s;
	cursor: pointer;
}

.gallery__pic-overlay::before {
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	background-image: url("../images/gallery-look.svg");
}

.gallery__pic-overlay:hover,
.gallery__pic-overlay:focus {
	background-color: rgba(26, 62, 62, 0.3);
	opacity: 1;
}

.gallery__img {
	height: 100%;
}

.gallery__btn {
	margin: 0 auto;
	width: 178px;
	height: 52px;
}
