@media (max-width: 1200px) {
	.newsletter__wrapper {
		padding: 40px;
	}
}

@media (max-width: 1100px) {
	.header__nav {
		position: fixed;
		inset: 0;
		z-index: 5;
		padding: 45px 16px 50px;
		width: 100%;
		background-color: #1a3e3e;
		transform: translateX(-150%);
		transition: all 0.5s;
	}

	.header__nav--active {
		transform: translateX(0);
	}

	.header__lists {
		flex-direction: column;
	}

	.header__item {
		position: relative;
		padding-left: 18px;
		transition: all 0.1s;
	}

	.header__item:first-of-type {
		display: none;
	}

	.header__item-link {
		text-decoration: underline 1px solid rgba(0, 0, 0, 0);
	}

	.header__item-link::before {
		content: "";
		position: absolute;
		left: 0;
		top: 8px;
		width: 6px;
		height: 10px;
		background-image: url("../images/menu.svg");
	}

	.header__item-link:hover {
		text-decoration: underline 1px solid #f2be22;
		color: #f2be22;
		text-underline-offset: 2px;
	}

	.header__item-link:hover::before {
		background-image: url("../images/menu-hover.svg");
	}

	.header__consultation {
		display: none;
	}

	.header__burger {
		position: relative;
		z-index: 6;
		display: block;
		border: 0;
		width: 21px;
		height: 18px;
		background-color: rgba(0, 0, 0, 0);
		cursor: pointer;
	}

	.header__burger--active .header__burger-line:first-of-type {
		top: 50%;
		transform: rotate(-45deg);
	}

	.header__burger--active .header__burger-line:last-of-type {
		top: 50%;
		width: 100%;
		transform: rotate(45deg);
	}

	.header__burger--active .header__burger-line:nth-of-type(2) {
		opacity: 0;
	}

	.about__video {
		margin: -274px 0 0 65px;
	}

	.overlay__name {
		font-size: 18px;
	}

	.overlay__name-descr {
		display: none;
	}

	.overlay__price {
		width: 67px;
		height: 30px;
		font-size: 16px;
		line-height: 18px;
	}

	.overlay__descr {
		font-size: 14px;
	}

	.overlay {
		padding: 24px;
	}
}

@media (max-width: 992px) {
	.start__info {
		padding: 300px 0 62px;
	}

	.start__search {
		flex-wrap: wrap;
	}

	.start__label {
		flex: 1 1 48%;
	}

	.about__wrapper {
		flex-direction: column-reverse;
		padding: 75px 0;
		gap: 40px;
	}

	.offer__wrapper {
		padding: 75px 0;
	}

	.offer__content {
		flex: 3;
	}

	.offer__media {
		justify-content: center;
		grid-template-columns: 150px;
	}

	.popular__item:hover .overlay,
	.popular__item:focus .overlay {
		top: 80%;
	}

	.popular {
		padding: 75px 0;
	}

	.overlay__name {
		font-size: 16px;
	}

	.overlay {
		padding: 18px 14px 24px;
	}

	.blog {
		padding: 75px 0;
	}

	.news__item {
		flex: 1 1 100%;
	}

	.news__content {
		flex: 1 1 70%;
	}

	.news__info {
		margin: auto 0 0;
	}

	.gallery {
		padding: 75px 0;
	}

	.newsletter__wrapper {
		flex-direction: column;
	}

	.newsletter__content {
		flex: 1 1 auto;
		text-align: center;
	}

	.newsletter__subscribe {
		flex: 1 1 auto;
	}

	.newsletter__label {
		flex: 1;
	}

	.newsletter__input {
		width: 100%;
	}

	.newsletter__button {
		flex: 1;
	}

	.footer__top-wrapper {
		flex-wrap: wrap;
		gap: 50px;
	}

	.footer__items {
		flex: 1 1 280px;
	}
}

@media (max-width: 768px) {
	.start__title {
		font-size: 38px;
	}

	.offer__media {
		grid-template-columns: 170px;
	}

	.popular__media {
		gap: 0;
	}

	.popular__item {
		flex: 1 0 285px;
	}

	.overlay__name {
		font-size: 18px;
	}

	.overlay {
		padding: 24px;
	}

	.news__item {
		flex: 1 0 285px;
		flex-direction: column;
		padding: 0;
	}

	.news__item-pic {
		height: 280px;
	}

	.news__img {
		width: 100%;
	}

	.news__content {
		flex: 1 0 210px;
		margin-left: 0;
		padding: 16px;
	}

	.news__title {
		padding: 0 0 16px;
		font-size: 20px;
		line-height: 26px;
	}

	.news__descr {
		margin-bottom: 16px;
	}

	.news {
		flex-wrap: unset;
		gap: unset;
	}

	.gallery__media {
		display: flex;
		margin-bottom: 32px;
		height: 250px;
		gap: unset;
	}

	.gallery__pic {
		width: 280px;
	}

	.gallery__pic-overlay {
		display: none;
	}
}

@media (max-width: 576px) {
	.subtitle {
		font-size: 16px;
	}

	.title {
		margin-bottom: 32px;
		font-size: 24px;
	}

	.header__img {
		width: 84px;
	}

	.start__info {
		padding: 234px 0 50px;
	}

	.start__title {
		margin-bottom: 32px;
		font-size: 28px;
		letter-spacing: unset;
	}

	.start__search {
		padding: unset;
		background: unset;
		backdrop-filter: unset;
	}

	.start__label {
		display: none;
	}

	.about__wrapper {
		flex-direction: column-reverse;
		padding: 50px 0;
	}

	.about__media > .about__piс {
		display: none;
	}

	.about__video {
		margin: unset;
	}

	.about__text {
		margin-bottom: 24px;
		font-size: 16px;
	}

	.about__btn {
		margin: 0 auto;
		width: 176px;
		height: 44px;
	}

	.offer__wrapper {
		padding: 50px 0;
	}

	.offer__text {
		margin-bottom: 32px;
		font-size: 16px;
	}

	.offer__items {
		margin-bottom: 32px;
		gap: 32px;
	}

	.offer__price {
		margin: 0 auto;
		width: 212px;
		height: 44px;
	}

	.offer__media {
		display: none;
	}

	.popular__content {
		text-align: left;
	}

	.popular__btn {
		width: 220px;
		height: 44px;
	}

	.popular {
		padding: 50px 0;
	}

	.blog__content {
		text-align: left;
	}

	.blog__btn {
		width: 196px;
		height: 44px;
	}

	.blog {
		padding: 50px 0;
	}

	.gallery__content {
		text-align: left;
	}

	.gallery__btn {
		width: 154px;
		height: 44px;
	}

	.gallery {
		padding: 50px 0;
	}

	.newsletter__wrapper {
		margin-bottom: 50px;
		padding: 24px;
		gap: 18px;
	}

	.newsletter__content {
		text-align: left;
	}

	.newsletter__subtitle {
		font-size: 16px;
	}

	.newsletter__title {
		margin: 0;
		font-size: 24px;
	}

	.newsletter__form {
		flex-direction: column;
		margin-bottom: 24px;
	}

	.newsletter__button {
		flex: 1 1 44px;
	}

	.footer__top {
		padding: 40px 0;
	}

	.footer__contacts {
		margin: 30px 0;
	}

	.footer__bottom-wrapper {
		justify-content: center;
	}
}
