.start {
	background-image: url("../images/start-bg.avif");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.start__info {
	padding: 416px 0 82px;
}

.start__title {
	margin: 0 0 41px;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 50px;
	line-height: 150%;
	letter-spacing: 1px;
	color: #fdfdfd;
}

.start__search {
	display: flex;
	border-radius: 10px;
	padding: 40px 42px;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(6px);
	gap: 24px;
}

.start__label {
	display: flex;
	flex-direction: column;
	width: 270px;
}

.start__span {
	margin: 8px 0 0 8px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #fdfdfd;
}

.start__location {
	border: 1px solid #e1e3e4;
	border-radius: 8px;
	padding: 0 16px;
	height: 52px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #fdfdfd;
}

.start__block-date {
	display: flex;
	border: 1px solid #e1e3e4;
	border-radius: 8px;
}

.start__date {
	flex: 1;
	border: 0;
	padding: 0 8px;
	height: 52px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #fdfdfd;
	background-color: rgba(0, 0, 0, 0);
}

.start__date::-moz-placeholder {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #fdfdfd;
}

.start__date::placeholder {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #fdfdfd;
}

.start__quantity {
	border: 1px solid #e1e3e4;
	border-radius: 8px;
	padding: 0 16px;
	height: 52px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #fdfdfd;
}

.start__search-program {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #fdfdfd;
	border-radius: 4px;
	padding: 0;
	width: 213px;
	height: 52px;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.192px;
	color: #1a3e3e;
	background: #fdfdfd;
	transition: all 0.3s;
}

.start__search-program:hover {
	border: 1px solid #fdfdfd;
	color: #fdfdfd;
	background: #1a3e3e;
}
